{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block header %}


	{% block content %}
		<h1>Bienvenue sur ma page d'administration</h1>
		<p>Ceci est le contenu spécifique de ma page d'accueil.</p>
	{% endblock %}
{% endblock %}
