{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block section %}
	<section>
		<h1 class="acceuil-title">Bienvenue sur la page du Garage Parot!</h1>
		<img src="{{ asset('assets/images/garage.jpg') }}" alt="Mon image" class="img-fluid">

		Là où toutes nos voitures rentrent cassé, et sortent réparé!
		
		        Dans notre garage, vous nous vous amenez votre voiture, on fait un devis et on vous l'a réparre en moins de temps possible!
		
		        Nos engagement:
		
		        Faire un devis et réparer le plus rappidement votre voiture!
		
		
		        Reviser votre voiture.
		
			aliser le problème pour que vous ayez votre voiture le plus vite possible
	</section>
{% endblock %}
